@media only screen and (min-width: 37.5em) {

/* H E A D E R */
nav button { 
    display:none; 
}
header {    
    padding: 14px;
}
header h1 {
    font-size: 2em;
}
.logosmall {
    display: none;
}    
.logomed {
    display: inline-grid;
}
.logolarge {
    display:none;
}
/* E N D  H E A D E R */

/* N A V I G A T I O N */
.hamburger { 
    display: none;	
}
.navigation {	
    background-color: #242a40;	
    overflow: hidden;	
    text-align: center;
}
.navigation li { 
    font-family: 'Montserrat';
    display: inline-flex; 
    margin-left: .25rem; 
}
.navigation a {	
    display: flex;	
    color: #a1b1be;	
    padding: 6px;	
    text-align: center;	
    text-decoration: none;
}
.navigation a:hover {	
    color: #90a2b3; 
    background-color: #2f354e;	
}
/* E N D  N A V I G A T I O N */
    
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin: 10px;
}
h2 {
    font-size: 28px;
    margin: 2px;
}
section.franklin {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1; 
    grid-row-end: 1; 
}
section.summary {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1; 
}
section.forecast {
    display: table;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2; 
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
table, th, td {
    border: 1px solid #242a40;
    margin-bottom: 20px;
}
th, td {
    padding: 0 20px 0 20px;
    
}
h5 {
    font-size: 24px;
    color: #242a40;
    font-family: 'Montserrat';
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}
h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.imgsmall {
    display: none;
}    
.imgmed {
    display: inline-grid;
}
.imglarge {
    display:none;
}
/* T O W N  A R T I C L E */
.town-article {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;  
    text-align: left;
    padding: 10px;
    line-height: 1.5;
}
.town-article img {
    float: left;
    padding: 10px 10px 0 0;
}
/* E N D  O F  T O W N  A R T I C L E */
.gallerypage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#townstats {
    grid-template-columns: 1fr 1fr;
}
.articleimgsmall{
    display: none;
}
.articleimgmed {
    display: inline-grid;
    margin: auto;
    padding-top: 10px;
}
.articleimglarge {
    display:none;
}
}