html {
    background-color: #37A5CF;
}
body {
    font-family: 'Questrial', sans-serif;
    font-size: 1.2em;
    color: white;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color:  #37A5CF;
    padding: 0 20px 0 20px;
}
header img { 
    float: left;
    margin: 0 20px 20px 20px;  
    max-width: 100px;
}
header h1 {
    color: #024C69; 
    font-family: 'Josefin Slab', serif;
    font-size: 2.1em;
    padding-top: 20px;
    margin-bottom: 4px;
}
header .subheading {
    color: #024C69;
    font-size: .8em;
    letter-spacing: .4em;
    padding-bottom: 10px;
}
/* N A V I G A T I O N */
nav {
    display: block;
}
nav ul { 
    background-color: #FF8500;
    list-style-type: none;
    margin: 0;   
} 
nav li {
    display: none;
}
nav a{ 
    text-decoration: none;
    color: #fff;
    padding: 8px;
    display: flex;
}
nav ul li.active a {
    background-color: #024C69;
    font-weight: bold;
    width: 100%;
}
nav ul li a:hover {
    background-color: #024C69;
    width: 100%;
}
.navigation { 
    background: #FF7700;
    display: flex;
}
.hamburger {
    display: inline-flex;
    
}
/* H E A D E R */
h2 {
    font-size: 1.2em;
    letter-spacing: .4em;
    text-align: center;
}
.mainPicture {
    max-width: 100%;
}
main { 
    font-family: 'Questrial', sans-serif;
}
 /* H O M E P A G E */
.adventureoptions img { 
    display: block;
    padding: 2px;
    max-width: 100%;
}
.adventureoptions p {
    padding: 2px;
    text-align: justify;
}
#adventure1 {
    border: 1px solid white;
    padding: 8px;
    margin: 5px;
    justify-content: center;
}
#adventure2 {
    border: 1px solid white;
    padding: 8px;
    margin: 5px;
    justify-content: center;
}
#adventure3 {
    border: 1px solid white;
    padding: 8px;
    margin: 5px;
    justify-content: center;
}
/* F O O T E R */
footer {
    background-color: #FF7700;
    text-align: center;
    border: 1px solid white;
    margin: 40px 1px 20px 1px;
}
/* C O N T A C T  U S */
form#contactus {
    margin: 0px auto;
}
fieldset {
    border-radius: .5em;
    margin: 1.5em 0;
    border: white solid 1px;
}
label span {
    display: block;
    padding-top: .9em;
}
label input {
    padding: .5em;
    width: 50%;
}
label textarea {
    width: 50%;
    height: 100px;
    padding: .5em;
}
input.submitBtn {
    -webkit-appearance: none;
    color: #fff;
    border: solid 1px white;
    border-radius: .5em;
    width: 50%;
    margin: 1.5em 0; 
    font-size: 1em;
    padding: .5em;
    background: #FF7700;
    box-shadow: 4px 4px 10px #666;
}
iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: .5em;
    margin-top: 1.5em;
}
/* A D V E N T U R E  T O U R S */
.adventuretours {
    display: grid;
    width: 100%;
}
#advent1, #advent2, #advent3 {
    border: 1px solid white;
    padding: 8px;
    margin: 5px;
    justify-content: center;
}
#advent1 img, #advent2 img, #advent3 img {
    max-width: 100%;
}
/* S E R V I C E S */
#repairTable {
  display: flex;
  justify-content: space-around;
  padding: 20px; 
}
table {
    padding: 10px; 
}
th {
    border-bottom: 2px solid #FF7700;
    color: #FF7700;
    padding: 5px;
    font-size: 1.5em;
}
td {
    width: 350px;
    padding: 5px;
    font-size: 1.2em;
}
/* E V E N T  P A G E */
legend {
    margin-left: 6%;
    padding: .5em;
    border-radius: .4em;
    font-size: 1.5em;
}
.event {
    border: 1px solid white;
    border-radius: .4em;
    padding: 8px;
    margin: 5px;
    justify-content: center;
}
/* S H O P */
.shop {
    text-align: center;
}
#accordion h3{
    border: 1px solid white;
    cursor: pointer;
}
#accordion.open{
    border: 1px solid white;
}