@media only screen and (max-width: 375px) {
.navigation.responsive { 
    position: relative;
    padding: 10px;
}
.navigation.responsive li { 
    background-color: white;	
    display: flex;
    justify-content: center;
    margin: 2px 0;	
    border: 1px solid #242a40; 
}
.navigation.responsive li a {	
    padding: 2px; 
    align-items: center;
    color: #242a40;
    display: flex;
    text-decoration: none; 
}
.navigation.responsive li a:hover { 
    background-color: #a1b1be; 
}
}

* {
  box-sizing: border-box;
}

body {
    display: grid;
    font-size: 20px;
    font-family: 'Quattrocento';
}
header, nav, main, footer {
    max-width: 1000px;
    margin: 0 auto;
}
header, footer {
    width: 100%;
    background: #242a40;
    color: #a1b1be;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header img {
    margin: 5px;
}
header h1 {
    margin: 5px;
    font-size: 24px;
    font-family: 'Montserrat';
}
header .subheading {
    margin: 5px;
    font-size: 22px;
    color:#a1b1be;
}
.hamburger { 
    position: absolute;
    top: 2px;
    left: 2px; 
}
.navigation { 
    display: none;  
}
.navigation li { 
    display: none; 
}
figure {
    margin: auto;
}
.imgmed {
    display: none;
}
.imglarge {
    display:none;
}
h2 {
    display: flex;
}
h2, h3 {
    font-size: 23px;
    color: #242a40;
    font-family: 'Montserrat';
}
h3 {
    padding-left: 5px;
    padding-right: 5px;
}
section.summary {
    text-align: center;
    border: 1px solid #242a40;
    margin-top: 20px;
}
section.forecast {
    display: none; 
}
h4 {
    font-family: Montserrat;
    font-size: 20px;
}
article {
    align-content: center;
    text-align: center;
    border: 1px solid #242a40;
    width: 100%;
    margin: 20px 0 20px 0;
    line-height: 1.5;
}
article p.town-article img {
    float: left;
    width: 330px;
}
footer {
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column
}